SUPABASE_PROJECT_ID=sapcjucjsqovaoajyrsp
SUPABASE_PUBLISHABLE_KEY=your_supabase_publishable_key
SUPABASE_URL=https://sapcjucjsqovaoajyrsp.supabase.co
VITE_SUPABASE_PROJECT_ID=sapcjucjsqovaoajyrsp
VITE_SUPABASE_PUBLISHABLE_KEY=your_supabase_publishable_key
VITE_SUPABASE_URL=https://sapcjucjsqovaoajyrsp.supabase.co
